{{> head }}
{{> navbar}}


<div class="row">

    <div class="col-8">
        <h1>Sobre nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quos at cumque ad harum aspernatur magni. Assumenda accusantium quasi laudantium voluptatum, commodi possimus dolorem amet iusto voluptate, illo modi maxime.</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/soluxlogo2Prime.jpg">
    </div>

</div>

{{> footer }}